@page
@model OnlineShop.UI.Pages.Admin.IndexModel
@{
}

<div id="app" class="container">
	<div>
		<div v-if="!editing">
			<button class="button" v-on:click="newProduct">Add New Product</button>
			<table class="table">
				<tr>
					<td>Id</td>
					<td>Product</td>
					<td>Value</td>
				</tr>
				<tr v-for="(product, index) in products">
					<td>{{product.id}}</td>
					<td>{{product.name}}</td>
					<td>{{product.value}}</td>
					<td><a style="color: darkblue; text-decoration:underline;" v-on:click="editProduct(product.id, index)">Edit</a></td>
					<td><a style="color: darkblue; text-decoration:underline;" v-on:click="deleteProduct(product.id, index)">Remove</a></td>
				</tr>
			</table>
		</div>

		<div v-else>
			<div class="field">
				<label class="label">Name</label>
				<div class="control">
					<input class="input" v-model="productModel.name" />
				</div>
			</div>
			<div class="field">
				<label class="label">Description</label>
				<div class="control">
					<input class="input" v-model="productModel.description" />
				</div>
			</div>
			<div class="field">
				<label class="label">Value</label>
				<div class="control">
					<input class="input" v-model="productModel.value" />
				</div>
			</div>

			<button class="button is-success" v-on:click="createProduct" v-if="!productModel.id">Create Product</button>
			<button class="button is-warning" v-on:click="updateProduct" v-else="">Update Product</button>
			<button class="button" v-on:click="cancelUpdateProduct">Cancel</button>
		</div>
	</div>
</div>


@section scripts {
	<script src="~/js/admin/products.js"></script>
}