@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mid">
	<table class="table">
		<tr>
			<td>Id</td>
			<td>Product</td>
		</tr>
		@{
			foreach (var product in Model.Products)
			{
				<tr>
					<td>@product.Name</td>
					<td>@product.Value</td>
				</tr>
			}
		}
	</table>
    
</div>
